@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Merriweather", serif;
    transition: 0.15s;
    letter-spacing: 0.5px;
    color: white;
    text-decoration: none;
    font-weight: 400;
}

h1 {
    font-size: 48px;
    padding-bottom: 20px;
}

p {
    line-height: 180%;
}

body {
    background: black;
    color: white;
    min-height: 100vh;
}


.background_art {
    position: fixed;
    overflow: hidden;   
    font-size: calc(5px + .9vw);
    white-space: pre-line;
    pointer-events:none;
    bottom: 85px;
    left: 50%;
    transform: translate(-50%, 0);
    color: rgba(255, 255, 255, 0.35);
    text-shadow: lightgray 1px 1px 3px;
}

.container {
    background: rgba(0, 0, 0, 0.01);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.01);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid white;
    padding: 20px;
    margin-bottom: 20px;
}

.bottom_nav {
    z-index: 1;
    height: 80px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: black;
    border-top: solid thin white;
    display: flex;
}

.nav_buttons {
    margin: auto;
}

.nav_buttons a {
    margin: 10px;
    padding: 10px 25px;
    border: solid thin white;
    background: #262626;
}

.nav_buttons a:hover {
    background: #464646;
}

.main {
    margin: auto;
    max-width: 800px;
    padding: 10px;
}